{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<h4>{% trans 'Update the application' %}</h4>

<form method="post">

    {% csrf_token %}
    {% bootstrap_form form %}

    <a class="btn btn-danger" href="{% url 'engine:list' %}"><i class="bi bi-x-lg"></i> Cancel</a>
    <button class="btn btn-success"><i class="bi bi-check-lg"></i> Update</button>

</form>

{% endblock %}
