{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<h4>{% trans 'Resend an activation code' %}</h4>

<form method="post">

    {% csrf_token %}
    {% bootstrap_form form %}

    <button class="btn btn-primary">{% trans 'Next' %}</button>

</form>

<hr>

<ul>
    <li>
        <a href="{% url 'accounts:log_in' %}">{% trans 'Log in' %}</a>
    </li>
</ul>

{% endblock %}
