{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

<h4>{% trans 'Restore password' %}</h4>

<div>
    {% trans "We've emailed you instructions for setting your password, if an account exists with the email you
    entered." %}
    {% trans 'You should receive them shortly.' %}

    <br>

    {% trans "If you don't receive an email, please make sure you've entered the address you signed up with, and check
    your spam folder." %}
</div>

{% endblock %}
