{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<h4>{% trans 'Restore password' %}</h4>

{% if validlink %}

<p>
    {% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}
</p>

<form method="post">

    {% csrf_token %}
    {% bootstrap_form form %}

    <button class="btn btn-success">{% trans 'Change' %}</button>

</form>

{% else %}

<div class="alert alert-danger">
    {% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new
    password reset.' %}
</div>

{% endif %}

{% endblock %}
