{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<h4>{% trans 'Create an account' %}</h4>

<form method="post">

    {% csrf_token %}
    {% bootstrap_form form %}

    <button class="btn btn-success">{% trans 'Create' %}</button>

</form>

{% endblock %}
